* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 50vmin;
  background: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.siri {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: -99px 61px 0.3em 0em #ffecca,
    inset 0.03em 0px 0.1em 0.02em #ffd5b0;
}
.green {
}
.blue {
}
.pink {
}
